// CUSTOM VARIABLES ////
:root {
    --color-primary: #c00303b9;
    --color-secondary: #101010;
    --color-tertiary: #ff9800;
    --color-fourth:#f44336;

    --color-grey--light-1:#eee;
    --color-grey-light-2:#ddd;

    --color-grey-dark-1:#191919;
    --color-grey-dark-2:#333;

    --white:#fff;
    --black:#000;


    --main-text-color: #444;
    --sub-text-color: #666;

    --main-font-family:'Kanit', sans-serif;
    --font-display: 'Lato', sans-serif;

    --facebook:#3b579d;
    --twitter:#55acee;
    --insta: linear-gradient(60deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    --popular-box: #ad1457;
}

// UTILITY CLASSES //// 
.mb-small { margin-bottom:1.5rem; }
.mb-small-2x { margin-bottom:2rem; }
.mb-medium { margin-bottom:3rem; }

.mt-small { margin-top:1rem; }
.mt-small-2x {margin-top: 2rem; }
.mt-small-3x {margin-top: 3rem; }
.mt-small-4x {margin-top: 4rem; }

// MIXINS //// 
@mixin transition {
    transition: all .2s ease-in;
}



html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body {
    font-family: var(--font-display);
    line-height: 1.3;
}