.container {

    display: grid;
    grid-template-rows: 85vh repeat(4, min-content) 20vw 25vh;
    grid-template-columns: [sidebar-start ] 12.25rem [sidebar-end full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];

    //MEDIA QUERY ////// 
    @include for-size(desktop) {
        grid-template-rows: 100vh repeat(4, min-content) 20vw 25vh;
    }

    @include for-size(tablet-land) {
        grid-template-rows: 90vh repeat(4, min-content) 20vw 25vh;
        grid-template-columns: [sidebar-start ] 12.5rem [sidebar-end full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
    }

    @include for-size(tablet-port) {
        grid-template-rows: 8rem calc(90vh - 8rem) repeat(4, min-content) 20vw 25vh;
        grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
    }

    @include for-size(phone) {
        grid-template-rows: 6rem calc(70vh - 6rem) repeat(4, min-content) 20vw 25vh;
    }

    @include for-size(small-phone) {
        grid-template-rows: 6rem calc(60vh - 6rem) repeat(4, min-content) 20vw 16vh;
    }

    @include for-size(smaller-phone) {
        grid-template-rows: 6rem calc(50vh - 6rem) repeat(4, min-content) 20vw 16vh;
        
    }


}

.sidebar {
    background-color: var(--color-secondary);
    grid-column: sidebar-start / sidebar-end;
    height:100vh; 
    position: fixed;

    //MEDIA QUERY ////// 
    @include for-size(tablet-port) {
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
        position: relative;
        top:0;
        left:0;
        height:8rem;
        padding-top:2rem;

    }


}

.header {
    grid-column: full-start / full-end;
    background-image: url(/img/banner-masterclass.jpg);
    background-size: cover;
    border-bottom: 6px solid var(--color-primary);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    //MEDIA QUERY ////// 
    @include for-size(small-phone) {
        background-position: bottom;
    }
    
}

.news {
    background-color:var(--color-grey-dark-1);
    grid-column: full-start / full-end;

}

.features {
    background-color:var(--color-grey-dark-1);
    grid-column: full-start / full-end;

}

.about {
    background-color:var(--color-grey-dark-1);
    grid-column: full-start / full-end;

}

.social-media {
    background-color:var(--color-grey-dark-1);
    grid-column: full-start / full-end;

}

.banner {
    background-color: var(--black);
    grid-column: full-start / full-end;

}

.footer {
    background-color:var(--color-grey-dark-1);
    grid-column: full-start / full-end;

}